*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body { 
    margin: 0;
    padding: 0;
    background-color: white;
    color:black;
     font-family:'Montserrat', sans-serif;
}
header{
    background-color: #201c5f;
    text-align: center;
    color: white;
    padding: 1rem 0;
}

 .cabecalho-content { 

    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 10;

 }
 nav a{
    color: white;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 6px;
    transition: background 0.3s;

 }
 nav a:hover {
     background:#968fed;
 }

 .container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

 }
 .conteudo  {

    max-width: 800px;
    width:100%;
    background-color: rgb(198, 224, 247);
    padding: 2rem;
    border-radius: 12px;
    text-align: center ;
    box-shadow: 0 4px 10px white;
 }
.conteudo p {
    color: white;
}