*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h2,p {
    text-align: center; /* centralização do texto*/

}

body { 
    margin: 0;
    padding: 0;
    background-color: white;
    color:#4e5c66;
     font-family:'Montserrat', sans-serif;
}
header{
    background-color: #158cba ;
    text-align: center;
    color: white;
    padding: 1rem 0;
}

 .cabecalho-content { 

    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 10px;

 }
 nav a{
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 6px;
    transition: background 0.3s, color 0.3;

 }
 nav a:hover {
     background: #00AEEF;
     color: #001F3F;
 }

 .container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

 }
 .conteudo  {

    max-width: 6000px;
    width:600%;
    background-color: white;
    padding: 3rem;
    border-radius: 12px;
    text-align: center ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 }
 